body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


@font-face {
    font-family: 'Dungeon';
    src: url('DePixelBreit.ttf');
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 60%;
    background-color: #FDF5E6;
    border: 10px solid #8B5A2B;
    box-shadow: 2px 2px 2px #000;
    padding: 15px;
    font-family: 'Dungeon';
    font-size: 18px;
    text-align: center;
    line-height: 2;
    overflow-x: hidden;
}

#contact-menu {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 400px;
  height: 250px;
  background-color: #FDF5E6;
  border: 10px solid #8B5A2B;
  box-shadow: 2px 2px 2px #000;
  padding: 20px;
  font-family: 'Dungeon';
  overflow-y: hidden;
  text-align: center;
}

#contact-menu p {
  font-size: 18px;
  text-align: center;
}

#contact-menu a {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

#closeContactMenu {
  font-family: 'Dungeon';
    font-size: 18px;
    color: #fff;
    background-color: #8B4513;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    margin-bottom: 1em;
}

#close-button {
  font-family: 'Dungeon';
  padding: 10px 20px;
  background-color: #FF0000;
  border: 3px solid #000000;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 
      3px 3px 0px #000000,
      6px 6px 0px #000000,
      9px 9px 0px #000000;
}


#close-button:active {
  box-shadow: 
  1px 1px 0px #000000,
  2px 2px 0px #000000,
  3px 3px 0px #000000;
  transform: translateY(6px) translateX(6px);
}
  
  
  .close-button:hover {
    background-color: #A0522D;
  }

  #main-menu1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    font-family: 'Dungeon';
    text-align: center;
    padding: 2em;
    background-color: #FDF5E6;
    border: 10px solid #8B5A2B;
    box-shadow: 2px 2px 2px #000;
    z-index: 100;
}

#main-menu2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  font-family: 'Dungeon';
  text-align: center;
  padding: 2em;
  background-color: #FDF5E6;
  border: 10px solid #8B5A2B;
  box-shadow: 2px 2px 2px #000;
}

  #description1 {
    font-size: 18px;
    text-align: center;
    line-height: 2;
  }

  #description2 {
    align-items: center;
    font-size: 18px;
    text-align: center;
    line-height: 2;
  }


  #next-button {
    margin-top: 5em;
    font-family: 'Dungeon';
    padding: 10px 20px;
    background-color: #FF0000;
    border: 3px solid #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #000000,
        9px 9px 0px #000000;
}


#next-button:active {
    box-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
    transform: translateY(6px) translateX(6px);
}

#begin-button {
  margin-top: 5em;
  font-family: 'Dungeon';
  padding: 10px 20px;
  background-color: #FF0000;
  border: 3px solid #000000;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 
      3px 3px 0px #000000,
      6px 6px 0px #000000,
      9px 9px 0px #000000;
}


#begin-button:active {
  box-shadow: 
  1px 1px 0px #000000,
  2px 2px 0px #000000,
  3px 3px 0px #000000;
  transform: translateY(6px) translateX(6px);
}


  #game-over {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:400px;
    height:500px;
    background-color: #FDF5E6;
    border: 10px solid #8B5A2B;
    box-shadow: 2px 2px 2px #000;
    overflow-y: hidden;
    padding: 15px;
    font-family: 'Dungeon';
    font-size: 18px;
    text-align: center;
    line-height: 2;
  }

  #game-over h1 {
    text-align:center;
    margin-bottom:20px;
  }

  #restart-button{
    margin-top: 5em;
    font-family: 'Dungeon';
    padding: 10px 20px;
    background-color: #FF0000;
    border: 3px solid #000000;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    box-shadow: 
        3px 3px 0px #000000,
        6px 6px 0px #000000,
        9px 9px 0px #000000;
}


#restart-button:active {
    box-shadow: 
    1px 1px 0px #000000,
    2px 2px 0px #000000,
    3px 3px 0px #000000;
    transform: translateY(6px) translateX(6px);
}


  @media screen and (max-width: 600px) {
    
    #menu {
      font-size: 14px;
      width: 60vw;
    }

    #main-menu1 {
      border: none;
      height: 100vh;
      width: 100%;
      overflow-x: hidden;
    }

    #main-menu2 {
      height: 100vh;
      width: 100vw;
      overflow-x: hidden;
    }

    #description1 {
      padding-top: 5em;
      padding-bottom: 5em;
      font-size: 14px;
      width: 80vw;
      margin: auto;
    }

    #description2 {
      top: 100%;
      padding-top: 5em;
      font-size: 14px;
      width: 80vw;
      margin: auto;
    }

    #next-button {
      margin-top: -10em;
      margin-bottom: 5em;
      width: 30vw;
    }

    #begin-button {
      margin-top: 5em;
      width: 30vw;
    }

    #game-over {
      width: 60vw;
      height: 55vh;
      font-size: 14px;
    }

    #restart-button {
      margin-top: 0em;
      width: 50vw;
    }

    #close-button2{
      margin-top: 5em;
      font-family: 'Dungeon';
      padding: 10px 20px;
      background-color: #FF0000;
      border: 3px solid #000000;
      color: #FFFFFF;
      text-decoration: none;
      font-size: 16px;
      box-shadow: 
          3px 3px 0px #000000,
          6px 6px 0px #000000,
          9px 9px 0px #000000;
  }
  
  
  #close-button2:active {
      box-shadow: 
      1px 1px 0px #000000,
      2px 2px 0px #000000,
      3px 3px 0px #000000;
      transform: translateY(6px) translateX(6px);
  }
    
    #menu-title {
      font-family: 'Dungeon';
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 0.5em;
    }
  }
  